.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box___2F0Tz {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box___2F0Tz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___2F0Tz > :global(.__wab_flex-container) > *,
.box___2F0Tz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__nXgxX:global(.__wab_instance) {
  position: relative;
}
.box__eS8Vf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__eS8Vf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__eS8Vf > :global(.__wab_flex-container) > *,
.box__eS8Vf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__eS8Vf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__eS8Vf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__eS8Vf > :global(.__wab_flex-container) > *,
  .box__eS8Vf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__chCy:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box___5BY1B {
  font-size: 48px;
}
.box__u22Fi {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__u22Fi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__u22Fi > :global(.__wab_flex-container) > *,
.box__u22Fi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__egFtl:global(.__wab_instance) {
  position: relative;
}
.bullet__cLnJq:global(.__wab_instance) {
  position: relative;
}
.bullet__p0Qzq:global(.__wab_instance) {
  position: relative;
}
.plan__c5Se7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box___9Lpxe {
  font-size: 48px;
}
.box__sgXUs {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__sgXUs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__sgXUs > :global(.__wab_flex-container) > *,
.box__sgXUs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___5KrT4:global(.__wab_instance) {
  position: relative;
}
.bullet___2Wu9Z:global(.__wab_instance) {
  position: relative;
}
.bullet__gbr2Y:global(.__wab_instance) {
  position: relative;
}
.bullet__dPsra:global(.__wab_instance) {
  position: relative;
}
.plan__xfQPn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box___1J2Rx {
  font-size: 48px;
}
.box__akgxu {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__akgxu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__akgxu > :global(.__wab_flex-container) > *,
.box__akgxu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__n4X6Y:global(.__wab_instance) {
  position: relative;
}
.bullet__wUxg6:global(.__wab_instance) {
  position: relative;
}
.bullet__lKvvD:global(.__wab_instance) {
  position: relative;
}
.section__uoDja:global(.__wab_instance) {
  position: relative;
}
.faq___3FFti:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__s1DAq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__ehCc2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
