.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___3JP1M {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: llV4KWhCLgXekE */;
}
.box__w35Gc {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__w35Gc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__w35Gc > :global(.__wab_flex-container) > *,
.box__w35Gc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__w35Gc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__w35Gc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__w35Gc > :global(.__wab_flex-container) > *,
  .box__w35Gc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__tu5Py {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__tu5Py > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__tu5Py > :global(.__wab_flex-container) > *,
.box__tu5Py > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__qd8Hh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ypNuP {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__q3Kkm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___9QvM {
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link___9QvM:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__ybf68 {
  position: relative;
}
.link___2B9Yb {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link___2B9Yb:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___2Ldro {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___2Ldro > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box___2Ldro > :global(.__wab_flex-container) > *,
.box___2Ldro > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___2Ldro {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___2Ldro > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___2Ldro > :global(.__wab_flex-container) > *,
  .box___2Ldro > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__nEeyw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__nEeyw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__nEeyw > :global(.__wab_flex-container) > *,
.box__nEeyw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__plmpe {
  position: relative;
  font-weight: 700;
}
.link__nmTcT {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__nmTcT:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uJ8G {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__uJ8G:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___2Wa {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link___2Wa:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ucXv3 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__ucXv3:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fjyHt {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__fjyHt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__hwB3X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__hwB3X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__hwB3X > :global(.__wab_flex-container) > *,
.box__hwB3X > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__lsmA {
  position: relative;
  font-weight: 700;
}
.link__s2Gm4 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__s2Gm4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___0Tvyb {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link___0Tvyb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__i1Zd {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__i1Zd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__l7Gy8 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__l7Gy8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8JR6 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link___8JR6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__vUmU7 {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__vUmU7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__vUmU7 > :global(.__wab_flex-container) > *,
.box__vUmU7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__bo4Re {
  position: relative;
  font-weight: 700;
}
.link__qnhEd {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__qnhEd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fNzde {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__fNzde:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nmaKu {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__nmaKu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__l81H6 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__l81H6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kuob2 {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__kuob2:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__gduDf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__gduDf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__gduDf > :global(.__wab_flex-container) > *,
.box__gduDf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___5XwNu {
  position: relative;
  font-weight: 700;
}
.box__wjFns {
  position: relative;
}
.box___7XxwV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__s7NSg {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: llV4KWhCLgXekE */;
}
.box__sRhGb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sRhGb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sRhGb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sRhGb > :global(.__wab_flex-container) > *,
  .box__sRhGb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__j0EG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___6QmCy {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
  height: auto;
}
.root .link___6QmCy:hover {
  text-decoration-line: underline;
}
.link__uqNdN {
  position: relative;
  color: #535353 /* plasmic-token: MXAzDbBYyIsnr_ */;
}
.root .link__uqNdN:hover {
  text-decoration-line: underline;
}
.box__wiHhF {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__cypEt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__cypEt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__cypEt > :global(.__wab_flex-container) > *,
.box__cypEt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__pAu1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dctP3 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__dctP3:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__cWnyU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yKWz {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__yKWz:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__owUHs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zxVw8 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__zxVw8:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
