.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__ypgZl {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__ypgZl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__ypgZl > :global(.__wab_flex-container) > *,
.box__ypgZl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section___8N4Ie:global(.__wab_instance) {
  position: relative;
}
.box__zs99F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__zs99F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__zs99F > :global(.__wab_flex-container) > *,
.box__zs99F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zs99F {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zs99F > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zs99F > :global(.__wab_flex-container) > *,
  .box__zs99F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box__jExe2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__jExe2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__jExe2 > :global(.__wab_flex-container) > *,
.box__jExe2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__jExe2 {
    width: 100%;
    min-width: 0;
  }
}
.box___1Wpff {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.box__tHl {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__gtcNw:global(.__wab_instance) {
  position: relative;
}
.svg__hWaG {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__o0J6H {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lq5QW:global(.__wab_instance) {
  position: relative;
}
.svg___5UxZ7 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__pNuRb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__svAod:global(.__wab_instance) {
  position: relative;
}
.svg___5CPpS {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__qYpfc {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__wcUts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__wcUts {
    width: 100%;
    min-width: 0;
  }
}
.img__qaM7G {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__c7Tc {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box__yGzj6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.box__ppoUq {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section___1ZKjR:global(.__wab_instance) {
  position: relative;
}
.box__rOh {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__rOh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__rOh > :global(.__wab_flex-container) > *,
.box__rOh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__iRV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__c1GO {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg__g9RTe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__luNj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z0E3I {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg__rbbkm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bVf56:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eqRRx {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg___8RiSd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ioHyH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tbdrn {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg__wQev6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p1AIq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___92BTw {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg__pVOjJ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lBoLs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__li5Rd {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: niW4ZcLs9yVTFj */;
}
.svg__bZjbS {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__sdY54 {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: llV4KWhCLgXekE */;
}
.section__leuj8:global(.__wab_instance) {
  position: relative;
}
.box__uw0Qk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__uw0Qk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__uw0Qk > :global(.__wab_flex-container) > *,
.box__uw0Qk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__ua5G {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__rXd6B {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__syc5S {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__bbfTa {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__tfOgZ {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
